* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(to top left, #574ae8 0%, #3ea1db 100%);
  height: 15.63rem;
}

.container {
  max-width: 56.25rem;
  margin: auto;
  padding: 2.5rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.logo p {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.5rem;
  font-style: bold;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  margin-top: 1.5rem;
  background-image: url(/img/Search-Icon.svg);
  background-repeat: no-repeat;
  background-position: 0.5rem 2.7rem;
}

.input input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  outline: none;
  opacity: 0.6;
  color: #222;
  font-size: 1.3rem;
  font-family: 'Inter', sans-serif;
  font-style: bold;
  padding-left: 2.5rem;
}

.input input::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
}

main {
  background: #f3f5f7;
}

.news {
  max-width: 56.25rem;
  margin: auto;
  padding: 2.5rem;
}

.article {
  background: #fff;
  border-radius: 5px;
  box-shadow: 6px 6px 6px #888;
  margin-bottom: 3.25rem;
  padding: 1.5rem;
}

.date {
  display: flex;
  justify-content: space-between;
}

.date span {
  font-size: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  color: #717171;
}

.Publication {
  display: flex;
  flex-direction: column;
}

.Publication h2 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.6rem;
  font-style: regular;
  margin-top: 1.3rem;
}

.Publication p {
  font-family: 'Lexend Deca', sans-serif;
  color: #717171;
  font-size: 0.87rem;
  margin-top: 0.5rem;
}
